---
import '../styles/global.css';

interface Props {
  title?: string;
  description?: string;
}

const {
  title = 'wen__xvn的个人博客',
  description = 'Astro personal blog',
} = Astro.props;
---
<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <slot />
  </body>
</html>
